{% extends "layout.html.twig" %} 
{% block titulo %} FORMAS DE CONTRATACIÓN (FCO) **{{accion}}**
   <a href="{{path("queryFco")}}" class="btn btn-success">
        <span class="glyphicon glyphicon-th-list"></span> Volver</a>
{% endblock %}
    
{% block contenido %}
    <div class="container">
        {% include 'fco/form.html.twig' %}
    </div>
    <div class="clearfix"> </div>
{% endblock %}  