{% extends "layout.html.twig" %} 
{% block titulo %} EPIGRAFES DE ACCIDENTES (EPIACC) **{{accion}}**
   <a href="{{path("queryEpiAcc")}}" class="btn btn-success">
        <span class="glyphicon glyphicon-th-list"></span> Volver</a>
{% endblock %}
    
{% block contenido %}
    <div class="container">
        {% include 'epiacc/form.html.twig' %}
    </div>
    <div class="clearfix"> </div>
{% endblock %}  