{% extends "layout.html.twig" %} 
{% block titulo %} EQUIVALENCIAS MODOS DE PAGO (EQ_MODOPAGO) **CONSULTA**
    <a href="{{path("addEqModoPago")}}" 
       class="btn btn-success"
       target="_blank">
        <span class="glyphicon glyphicon-new-window"></span> Nueva Equivalencia</a>
    <hr/>
{% endblock %} 

{% block contenido %}
    <div class="container">
        {{ sg_datatables_render(datatable) }}
    </div>
{% endblock %}