{% extends "layout.html.twig" %} 
{% block titulo %} SINCRONIZACIÓN FINALIZADA
{% endblock %}
{% block contenido %}
    <div class="container">
        <br/>
        {%for linea in log %}
            {{linea}}<br>
        {%endfor%}
    </div>
{% endblock %}

