{% extends "layout.html.twig" %} 
{% block titulo %} BASE DE DATOS **CREACION**
   <a href="{{path("queryBaseDatos")}}" class="btn btn-success">Volver</a>
{% endblock %}
    
{% block contenido %}
    <div class="container">
        {{form_start (form,{'action':'','method':'POST'})}}
        {{form_end (form)}}
    </div>
    <div class="clearfix"> </div>
{% endblock %}