{% extends "layout.html.twig" %} 
{% block titulo %} EQUIVALENCIAS AUSENCIAS (EQ_AUSENCIAS) **{{accion}}** 
    <a href="{{path("queryEqAusencia")}}" class="btn btn-success">
         <span class="glyphicon glyphicon-th-list"></span> Volver</a>
{% endblock %}

{% block contenido %}
    <div class="container">
        {% include 'eqausencia/form.html.twig' %}
    </div>
    <div class="clearfix"> </div>
{% endblock %}  